@{
    ViewBag.Title = "Home Page for Garage2";
}

<div class="well">
    <br /><br /><br /><br />
    <h2 align="center">Welcome</h2><br /><br />
    <h1 align="center">GARAGE2</h1><br /><br /><br /><br />
    <h3 align="center">Application</h3>

</div>
